# Exercici 1

#### Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [53]:
import pandas as pd
ds=pd.read_csv("S02T05/DelayedFlights.csv")

In [82]:
ds

,id,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,haarribattard,velocitatmitja
0,0,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,False,233.653846
1,1,1,3,4,754.0,735,1002.0,1000,WN,3231,...,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,True,195.967742
2,2,1,3,4,628.0,620,804.0,750,WN,448,...,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,True,175.568182
3,4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,515,3.0,10.0,2.0,0.0,0.0,0.0,32.0,True,237.692308
4,5,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,688,4.0,10.0,NaN,NaN,NaN,NaN,NaN,True,228.066298
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936753,7009710,12,13,6,1250.0,1220,1617.0,1552,DL,1621,...,906,9.0,18.0,3.0,0.0,0.0,0.0,22.0,True,148.119891
1936754,7009717,12,13,6,657.0,600,904.0,749,DL,1631,...,481,15.0,34.0,0.0,57.0,18.0,0.0,0.0,True,116.842105
1936755,7009718,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,689,8.0,32.0,1.0,0.0,19.0,0.0,79.0,True,291.126761
1936756,7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,True,164.000000
1936757,7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,False,173.069307

In [62]:
ds.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

#### Determinem que la columna Year no canvia de valor, així que no ens aporta res

In [64]:
ds['Year'].describe()

count    1936758.0
mean        2008.0
std            0.0
min         2008.0
25%         2008.0
50%         2008.0
75%         2008.0
max         2008.0
Name: Year, dtype: float64

#### Eliminem columna Year

In [66]:
ds.drop(["Year"], axis=1, inplace=True)

#### Determinem que la columna Diverted te poca informació

In [67]:
ds['Diverted'].describe()

count    1.936758e+06
mean     4.003598e-03
std      6.314722e-02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: Diverted, dtype: float64

#### Eliminem columna Diverted

In [68]:
ds.drop(["Diverted"], axis=1, inplace=True)

#### Determinem que la columna Cancelled te poca informació

In [69]:
ds['Cancelled'].describe()

count    1.936758e+06
mean     3.268348e-04
std      1.807562e-02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: Cancelled, dtype: float64

#### Eliminem columna Cancelled

In [70]:
ds.drop(["Cancelled"], axis=1, inplace=True)

Determinem que la columna CancellationCode te poca informació

In [72]:
ds['CancellationCode'].describe()

count     1936758
unique          4
top             N
freq      1936125
Name: CancellationCode, dtype: object

#### Eliminem columna CancellationCode

In [73]:
ds.drop(["CancellationCode"], axis=1, inplace=True)

#### Li donem nom a la columna principal

In [75]:
ds=ds.rename(columns={ds.columns[0]: 'id'})

# Exercici 2

#### Fes un informe complet del data set:

#### Resumeix estadísticament les columnes d’interès

In [31]:
ds.describe()

#### Troba quantes dades faltants hi ha per columna

In [41]:
ds.isna().sum()

id                        0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

#### Quins són els vols més llargs?

In [91]:
ds[['FlightNum', 'AirTime']].sort_values(by=['AirTime'], ascending=False).head(10)

         FlightNum  AirTime
1488690         21   1091.0
1367047         28    733.0
362529          15    664.0
556381          15    655.0
556385          15    654.0
556379          15    654.0
556377          15    652.0
556386          15    651.0
362852          15    649.0
363750          15    648.0

#### I els més endarrerits?

In [102]:
ds['tempstard'] = ds['ArrTime']-ds['CRSArrTime']
ds[['FlightNum', 'tempstard']].sort_values('tempstard')

         FlightNum  tempstard
302956          36    -2358.0
1729502        209    -2358.0
561770         796    -2358.0
489716         360    -2358.0
693706         410    -2358.0
...            ...        ...
1934590       1743        NaN
1935491       1405        NaN
1935651       1706        NaN
1935876        892        NaN
1936470       1372        NaN

[1936758 rows x 2 columns]

#### Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

In [78]:
ds['velocitatmitja'] = ds['Distance']/(( ds['ArrTime']-ds['DepTime'])/60)

#### Crear columna ha arribat tard, de tipus boolean

In [81]:
ds['haarribattard'] = ds['ArrTime']>ds['CRSArrTime']

#### Taula de les aerolínies amb més endarreriments acumulats

In [106]:
ds[['UniqueCarrier', 'tempstard']].groupby(['UniqueCarrier']).sum().sort_values(by=['tempstard'], ascending=False).head(10)

               tempstard
UniqueCarrier
MQ             3761306.0
EV             2040979.0
OO             1292562.0
9E              818754.0
AQ               -3426.0
OH               -6425.0
HA             -213235.0
YV             -551591.0
AS             -575216.0
XE            -1516440.0

# Exercici 3

#### Exporta el data set net i amb les noves columnes a Excel

In [109]:
ds.head(100).to_csv('S02T05/DelayedExport.csv')

In [111]:
ds.head(100).to_excel("S02T05/DelayedExport.xlsx",sheet_name='Fulla1')